@using Coursework_.ViewModels
@model CategoryViewModel

<div class="form-group">
    <h2>@("Видалити категорю: " + Model.Name)</h2>
    @if (Model.ProductsViews.Count > 0 || Model.ChildCategories.Count > 0)
    {
        <form method="post" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <h3 class="text-danger">Не можна видалити категорію якщо є товар цієї категорії, або вона має підкатегорію</h3>
            <input type="submit" disabled value="Видалити" class="btn btn-danger" />
            <br />
            <a asp-action="Index">Назад</a>
        </form>
    }
    else
    {
        <form method="post" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Видалити" class="btn btn-danger" />
            <br />
            <a asp-action="Index">Назад</a>
        </form>
    }

    @if (Model.ChildCategories.Count > 0)
    {
        <div>
            <h3>Підкатегорї</h3>
            <dl>
                @foreach (var subCategory in Model.ChildCategories)
                {
                    <dt>
                        @subCategory.Name
                    </dt>
                    <dd>
                        <a asp-action="Delete" asp-route-id="@subCategory.Id" class="btn btn-outline-danger">Видалити</a>
                    </dd>
                }
            </dl>
        </div>
    }
</div>