@using Coursework_.ViewModels
@model CategoryViewModel

<h2>@("Редагувати категорію: " + Model.Name)</h2>
<form method="post">
    <div class="border p-3 mt-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            @if (ViewData["ErrorMessage"] != null)
            {
                <h3 class="text-danger">@ViewData["ErrorMessage"]</h3>
            }
            <label asp-for="Name" class="m-1 p-1">Назва</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-success">Підтвердити</button>
    </div>
    @if (Model.ChildCategories != null)
    {
        <div>
            <ul>
                @foreach (var subCategory in Model.ChildCategories)
                {
                    <li>
                        <a asp-action="Edit" asp-route-id="@subCategory.Id" class="btn btn-outline-primary">@subCategory.Name</a>
                    </li>
                }
            </ul>
        </div>
    }
    <a asp-action="Index" class="btn btn-outline-dark">Назад</a>
</form>

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
   }
