@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
<h1>Volodymyr Mulyko</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><mark style="background-color:red">K</mark><mark style="background-color:orange">o</mark><mark style="background-color:yellow">м</mark><mark style="background-color:green">і</mark><mark style="background-color:blue">т</mark><mark style="background-color:purple">т</mark></p>
</div>
