@model Coursework_.ViewModels.ShopCartViewModel

<div class="container">
    @if (!Model.shopCart.listShopItems.Any())
    {
        <p>Корзина порожня</p>
    }
    else
    {
        @foreach (var el in Model.shopCart.listShopItems)
        {
            <div class="alert alert-success mt-3">
                <b>Ґаджет: </b>@el.product.Name<br />
                <b>Ціна: </b>@el.product.Price.ToString("c");

                <!-- Додавання фотографії товару -->
                <img src="@el.product.PhotoPath" alt="Фото товару" style="max-width: 100px; max-height: 100px;" />

                <!-- Кнопка для видалення товару з корзини -->
                <form asp-action="RemoveFromCart" asp-controller="Home" method="post">
                    <input type="hidden" name="productId" value="@el.product.Id" />
                    <button type="submit" class="btn btn-outline-danger">Видалити з корзини</button>
                </form>
            </div>
        }
        <hr />
        <form asp-action="Buy" asp-controller="Home" method="get">
            <button type="submit" class="btn btn-outline-success">Підтвердити покупку</button>
        </form>
    }
</div>
