﻿@using Coursework_.ViewModels
@model ProductViewModel

<h2>Додати новий товар</h2>

<form method="post">
    <div class="border p-3 mt-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (ViewData["ErrorMessage"] != null)
            {
                <h4 class="text-danger">@ViewData["ErrorMessage"]</h4>
            }
        <div class="form-group">
            <label asp-for="Name" class="m-1 p-1">Назва</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Price" class="m-1 p-1">Ціна</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhotoPath" class="m-1 p-1">Шлях до фото</label>
            <input asp-for="PhotoPath" class="form-control" />
            <span asp-validation-for="PhotoPath" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="ManufacturerId" class="m-1 p-1">Виробник</label>
            <select asp-for="ManufacturerId" asp-items="@ViewBag.Manufacturers" class="form-control"></select>
            <span asp-validation-for="ManufacturerId" class="text-danger"></span>
        </div class="form-group">

        <div>
            <label asp-for="CategoryId" class="m-1 p-1">Категорія</label>
            <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Description" class="m-1 p-1">Опис</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Amount" class="m-1 p-1">Кількість</label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>
        <button type="submit" class="btn btn-outline-success">Підтвердити</button>
    <a asp-action="Index" class="btn btn-outline-dark">Повернутись</a>
</form>
@section Scripts
{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}